.animate-rainbow-fadein {
    animation: 5s ease-out 0s 1 fadein, rainbow 15s linear infinite;
}

.rainbow-rave {
    animation: rainbow-rave 0.5s ease-in-out infinite;
}

@keyframes rainbow-rave {
    0% {
        filter: drop-shadow(-2px -2px 2px red);
    }
    50% {
        filter: drop-shadow(2px 2px 2px red);
    }
    100% {
        filter: drop-shadow(-2px -2px 2px red);
    }
}

