@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-spin-slow {
    animation: spin 60s linear infinite;
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0deg)
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.animate-rainbow {
    animation: rainbow 1s linear infinite;
}
